@font-face {
    font-family: 'Adwaita Sans';
    src: url('adwaitasans.ttf');
}


body {
    background: #eff;
    color: #394d3f;
    font-family: "Adwaita Sans", Arial, Helvetica, sans-serif;
    margin: 0;
}

h1 {
    font-size: 32pt;
    font-weight: 800;
}

h2 {
    font-size: 18pt;
    font-weight: 6000;
    color: rgb(92, 134, 117);
}

h2.motto {
    @media only screen and (max-width: 1280px) {text-align: center;}
}
h2.reverse {
    @media only screen and (min-width: 1281px) {margin-right: 100px; text-align: right;}
}

p {
    font-size: 14pt;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: #377375;
}

#banner {
    background-image: linear-gradient(#eff, #98dfc2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    user-select: none;
}

#banner * {
    margin: 12px;
}

#banner img {
    width: 240px;
    margin-left: 28px;
}

section {
    margin: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section p {
    width: 85%;
    max-width: 640px;
}

.hori {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 64px;
    @media only screen and (max-width: 1280px) {
        flex-direction: column;
        margin: 32px;
    }
}

.hori-small {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px;
    @media only screen and (max-width: 1280px) {
        flex-direction: column-reverse;
    }
}

.hori img {
    width: 90vw;
    max-width: 640px;
    border-radius: 8px;
    box-shadow: 2px 2px 16px #608171;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s;
}

.hori img:hover {
    scale: 1.03;
    box-shadow: 10px 10px 32px #394d43;
}

.vert {
    display: block;
}

.vert2 {
    display: block;
    margin-top: 10px;
    margin-left: 10px;
    @media only screen and (min-width: 1280px) {
        margin-left: 80px;
    }
    
}

.hori-small .icon {
    width: 64px;
    height: 64px;
    margin-inline: 32px;

}

footer {
    margin-top: 24px;
}

code {
    background-color: #c8ddd2;
    padding-inline: 8px;
    border-radius: 24px;
}

hr {
    width: 50vw;
    max-width: 540px;
}

footer {
    display: flex;
    justify-content: center;
    margin: 8px;
}

.reverse {
    flex-direction: row-reverse;
    @media only screen and (max-width: 1280px) {
        flex-direction: column-reverse;
    }
}

.button {
    background: #7ed3ab;
    color: black;
    padding: 16px;
    border-radius: 24px;
      transition: background 0.25s cubic-bezier(0.075, 0.82, 0.165, 1),
                  box-shadow 0.25s cubic-bezier(0.075, 0.82, 0.165, 1),
                  scale 0.16s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.button:hover {
    background: #5ec295;
    cursor: pointer;
    box-shadow: 10px 10px 10px #394d4380;
    scale: 1.03;
}

.or {
    margin: 16px;
}